@import url(http://fonts.googleapis.com/css?family=Nunito);

*{
	margin: 0;
	padding: 0;
}

body
{
	background: black;
}
div#mitpv
{
	margin: 50px auto;
	width: 90%;
	max-width: 500px;

}
header
{
	background: white;
	-webkit-border-radius: 10px;
	height: 243px;
	position: relative;
}
header h1,header img {vertical-align: top;}
header h1
{
margin: 5px 0 0 0;
padding: 0 0 0 20px;
display: inline-block;
font-family: Nunito;
font-size: 50px;
 box-sizing: border-box;
 width: 50%;
}
header img
{
	
display: inline-block;
 width: 50%;
max-height: 243px;
}
header p , header form
{
position: absolute;
top: 55;
left: 20;
font-family: Nunito;
}
header form
{
top: 80;
left: 20;
}
header form input{
	width: 150px;
	margin: 5px;
}
